In [3]:
import pyspark
import os, sys

In [4]:
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.master("local[1]").appName("app_1").getOrCreate()

In [7]:
dataset = [("John", 45000),("Max", 50000),("Shawn", 40000),("Nick", 25000),("Neo", 65000)]

In [8]:
rdd = spark.sparkContext.parallelize(dataset)
df = rdd.toDF()

In [10]:
df.show()

+-----+-----+
|   _1|   _2|
+-----+-----+
| John|45000|
|  Max|50000|
|Shawn|40000|
| Nick|25000|
|  Neo|65000|
+-----+-----+

In [11]:
colNames = ["Name", "Salary"]
df = rdd.toDF(colNames)

In [12]:
df.show()

+-----+------+
| Name|Salary|
+-----+------+
| John| 45000|
|  Max| 50000|
|Shawn| 40000|
| Nick| 25000|
|  Neo| 65000|
+-----+------+

In [13]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Salary: long (nullable = true)

In [14]:
summer_df = spark.read.csv("summer.csv", header=True)

In [15]:
# get number of rows in data frame
summer_df.count()

31165

In [17]:
len(summer_df.columns)

9

In [19]:
summer_df.show(5)

+----+------+--------+----------+-----------------+-------+------+--------------------+------+
|Year|  City|   Sport|Discipline|          Athlete|Country|Gender|               Event| Medal|
+----+------+--------+----------+-----------------+-------+------+--------------------+------+
|1896|Athens|Aquatics|  Swimming|     HAJOS Alfred|    HUN|   Men|      100M Freestyle|  Gold|
|1896|Athens|Aquatics|  Swimming|  HERSCHMANN Otto|    AUT|   Men|      100M Freestyle|Silver|
|1896|Athens|Aquatics|  Swimming| DRIVAS Dimitrios|    GRE|   Men|100M Freestyle Fo...|Bronze|
|1896|Athens|Aquatics|  Swimming|MALOKINIS Ioannis|    GRE|   Men|100M Freestyle Fo...|  Gold|
|1896|Athens|Aquatics|  Swimming|CHASAPIS Spiridon|    GRE|   Men|100M Freestyle Fo...|Silver|
+----+------+--------+----------+-----------------+-------+------+--------------------+------+
only showing top 5 rows

In [21]:
summer_df.select("Year", "Athlete", "Country").show(5)

+----+-----------------+-------+
|Year|          Athlete|Country|
+----+-----------------+-------+
|1896|     HAJOS Alfred|    HUN|
|1896|  HERSCHMANN Otto|    AUT|
|1896| DRIVAS Dimitrios|    GRE|
|1896|MALOKINIS Ioannis|    GRE|
|1896|CHASAPIS Spiridon|    GRE|
+----+-----------------+-------+
only showing top 5 rows